:root {
    --blue:#2C3E50;
    --light-blue:#3A546D;
    --green:#1ABC9C;
}

.bg-color-blue {
    background-color: var(--blue);
}

nav .col {
    color: white;
}

.bg-color-green {
    background-color: var(--green);
}

.na
/* sm x-small device */

@media (min-width: 575.98px) {

}

/* md small device */

@media (min-width: 767.98px) {

}

/* lg medium device */

@media (min-width: 991.98px) {

}

/* xl large device */

@media (min-width: 1199.98px) {

}

/* xxl x-large device */

@media (max-width: 1399.98px) {

}

.debug .row,
.navbar,
.container-fluid
 {
    border: 1px solid black;
    padding: 20px;
}

.debug [class^="col"] {
    min-height: 50px;
    border: 1px solid red;
    padding: 20px;    
}

.debug .row {
    background-color: #2201f7;
}

.debug .card {
    min-height: 20px;
    background-color: chartreuse;
}

